body {
	font-family: "Trebuchet MS", "Tahoma", sans-serif;
	height: 100%;
	margin: 0;
}
.describe {
	color: white;
	text-align: center;
}

.bg {
	background-image: url("Fireworks.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.instructions, html {
	background-color: black;
}
